<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
       </script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
         $(function() {
            $( ".datePicker" ).datepicker();
          }); 
        </script>
        {{ form.media }}
    </head>
    <body>
        <h1>Make a Reservation</h1>

        <form id="reservation_form" method="post" action="/add_reservation/">
          {% csrf_token %}
          <table>
            <div style='color:red'>{{form.errors}}</div>
            {% for field in form %}
              <tr>
                {{ field.errors }}
                <td>{{ field.label_tag }}</td><td>{{ field }}</td>
              </tr>
            {% endfor %}
          </table>
          <input type="submit" name="submit" value="Check" />
        </form>
    </body>

</html>
